<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}


.tooltip
  background: $tooltip-background-color
  border: 0
  border-radius: 8px
  font-family: $font
  font-size: 12px
  font-weight: bold
  height: 20px
  padding: 2px
  pointer-events: none
  position: absolute
  text-align: center
  width: 120px

  span
    color: $tooltip-span-color


</style>
</head>
<body>
{{{body}}}
</body>
</html>

<!--<script type="module" src="./static/js/index.js"></script-->>